<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Credentials</h1>
        <div class="list-group">
			<% for (var l of list_credentials) { %>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading" style="color: black; text-decoration: underline;">Issuer: Keyrock</h4>
					<p class="list-group-item-text" style="color: black;">Created at: <%= l.cred_ex_record.created_at %></p>
					<p class="list-group-item-text" style="color: black;">Values:</p>
					<% for (var c of l.cred_ex_record.cred_preview.attributes) { %>
						<p class="list-group-item-text" style="margin-bottom: 0px; margin-left: 10px; color: black;"><b><%= c.name %></b> : <%= c.value %></p>
					<% } %>
				</a>
			<% } %>
		</div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>